body {
    background-color: #8097ff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 90vh; 
}

.container{
    width: 80%; 
    max-width: 400px; 
    flex-flow: column nowrap;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.contain {
    background-color: rgb(255, 255, 255);
    border-radius: 17px;
    padding: 25px;
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-flow: column nowrap;
    border: solid #8097ff60 3px;
}

.contain > .author {
    margin-left: auto;
    color: #8097ff;
    font-style: oblique;
}

.quote {
    width:auto;
    text-align:center;
    color: #3050df;
    font-size: 30px;
}

.contain > .generate {
    border-radius: 50px;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    background-color: #8097ff;
    color: #ffffff;
    font-weight: 700;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

p{
    color: white;
}
img{
    width: 25px;
    background-color: white;
    border-radius: 70px;
    border: 2px solid white;
}

p,
img{
margin: 10px;
}

.bottom{
    display: flex;
    flex-flow: row;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .contain {
        width: 80%;
        max-width: 400px;
    }
    .quote {
        font-size: 20px;
    }
    .sub-notation{
        font-size: 12px;
    }
  }
